/.project
/*/.project
/*/*/.project
/*/*/*/.project
/.classpath
/*/.classpath
/*/*/.classpath
/*/*/*/.classpath
/*/*/bin
/*/target
/*/*/target
/*/*/*/target
/.settings/
/*/.settings/
/*/*/.settings
/*/*/*/.settings/
*.iml
/.idea
/target
